name: Build Analyze Check
on: [push, pull_request]
jobs:
  macos_check_job:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: brew install soapysdr librtlsdr
      - name: Configure
        run: cmake -B build
      - name: Build
        run: cmake --build build

  build_check_job:
    runs-on: ubuntu-latest
    name: Build with CMake
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -q -y --no-install-recommends cmake ninja-build
          sudo apt-get install -q -y libsoapysdr-dev librtlsdr-dev
      - name: Configure CMake+Ninja
        run: cmake -GNinja -B ${{ runner.workspace }}/b/ninja -DENABLE_RTLSDR=OFF -DENABLE_SOAPYSDR=OFF
      - name: Build CMake+Ninja
        run: cmake --build ${{ runner.workspace }}/b/ninja
      - name: Configure CMake+UnixMakefiles
        run: cmake -G"Unix Makefiles" -B ${{ runner.workspace }}/b/unixmakefiles -DENABLE_RTLSDR=OFF -DENABLE_SOAPYSDR=OFF
      - name: Build CMake+UnixMakefiles
        run: cmake --build ${{ runner.workspace }}/b/unixmakefiles

  doc_check_job:
    runs-on: ubuntu-latest
    name: Build documentation
    steps:
      - uses: actions/checkout@v4
      - name: Install Doxygen
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -q -y --no-install-recommends cmake ninja-build
          sudo apt-get install -q -y doxygen
      - name: Configure CMake+Ninja
        run: cmake -GNinja -B ${{ runner.workspace }}/b/ninja -DBUILD_DOCUMENTATION=ON -DENABLE_RTLSDR=OFF -DENABLE_SOAPYSDR=OFF
      - name: Build CMake+Ninja
        run: cmake --build ${{ runner.workspace }}/b/ninja -- doc_doxygen

  style_check_job:
    runs-on: ubuntu-latest
    name: Check code style
    steps:
      - uses: actions/checkout@v4
      - name: Style Check
        uses: ./.github/actions/style-check

  maintainer_update_check_job:
    runs-on: ubuntu-latest
    name: Needs maintainer_update
    steps:
      - uses: actions/checkout@v4
      - name: Working directory clean excluding untracked files
        run: |
          ./maintainer_update.py
          [ -z "$(git status --untracked-files=no --porcelain)" ]

  symbolizer_check_job:
    runs-on: ubuntu-latest
    name: Check symbol errors
    steps:
      - uses: actions/checkout@v4
      - name: Symbolizer report
        run: |
          ./tests/symbolizer.py check

  analyzer_check_job:
    # https://github.com/actions/virtual-environments
    # - Ubuntu 24.04 ubuntu-24.04
    # - Ubuntu 22.04 ubuntu-22.04
    # - Ubuntu 20.04 ubuntu-20.04
    # https://apt.llvm.org/
    # - Noble (24.04)
    # - Jammy (22.04)
    # - Focal (20.04)
    # - Bionic (18.04)
    runs-on: ubuntu-24.04
    name: Analyze with Clang
    steps:
      - uses: actions/checkout@v4
      - name: Install Clang
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key 2>/dev/null | sudo apt-key add -
          sudo add-apt-repository 'deb http://apt.llvm.org/noble/ llvm-toolchain-noble-20 main' -y
          sudo apt-get update -q
          sudo apt-get install -q -y clang-20 lld-20 libc++-20-dev libc++abi-20-dev clang-tools-20
      - name: Clang Analyzer
        # excludes include/mongoose.h src/mongoose.c include/jsmn.h src/jsmn.c
        # exit code 1 if there is output
        run: |
          clang -Iinclude -DTHREADS --analyze -Xanalyzer -analyzer-output=text -Xanalyzer -analyzer-disable-checker=deadcode.DeadStores include/[a-ikln-z]*.h src/[a-ikln-z]*.c src/devices/*.c 2>&1 | tee analyzer.out
          [ ! -s analyzer.out ]

  cross_build_job:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        arch: [armel, armhf, arm64]
        feat: [rtlsdr, soapysdr]
        include:
          - arch: armel
            compiler: arm-linux-gnueabi
          - arch: armhf
            compiler: arm-linux-gnueabihf
          - arch: arm64
            compiler: aarch64-linux-gnu
          # - os: ubuntu-20.04
          #   libs: openssl11
          # - os: ubuntu-24.04
          #   libs: openssl3
          - os: ubuntu-22.04
            libs: openssl3
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.feat }} on ${{ matrix.os }} for ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup tools
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -y --no-install-recommends cmake ninja-build
      - name: Purge conflicting dev that confuse cross linking
        run: |
          sudo apt-get purge -y libssl-dev libusb-1.0-0-dev
      - name: Add Architecture
        if: matrix.arch == 'armel'
        run: |
          # no armel on Ubuntu
          sudo dpkg --add-architecture armel
          # no bookwork on the debian keyring
          #sudo apt install debian-archive-keyring
          curl -LO https://archive.ubuntu.com/ubuntu/pool/universe/d/debian-archive-keyring/debian-archive-keyring_2023.4ubuntu1_all.deb
          sudo dpkg -i debian-archive-keyring_2023.4ubuntu1_all.deb
          echo "Installed debian keyring:"
          find /usr/share/keyrings
          gpg --show-keys --fingerprint --keyid-format long /usr/share/keyrings/debian-archive-keyring.gpg
          echo "deb [arch=armel signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://httpredir.debian.org/debian/ bookworm contrib main" | sudo tee /etc/apt/sources.list.d/debian-armel.list
          echo "deb [arch=armel signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://httpredir.debian.org/debian/ bookworm-updates contrib main" | sudo tee -a /etc/apt/sources.list.d/debian-armel.list
          echo "deb [arch=armel signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://httpredir.debian.org/debian/ bookworm-backports contrib main "| sudo tee -a /etc/apt/sources.list.d/debian-armel.list
          echo "deb [arch=armel signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://httpredir.debian.org/debian-security/ bookworm-security contrib main" | sudo tee -a /etc/apt/sources.list.d/debian-armel.list
          echo "Installed apt sources:"
          cat /etc/apt/sources.list.d/debian-armel.list
          sudo apt-get update
      - name: Setup compiler
        run: |
          sudo apt-get install -q -y gcc-${{ matrix.compiler }} g++-${{ matrix.compiler }}
      - name: Restrict sources.list
        run: |
          sudo sed -i'' -E 's/^(deb|deb-src) mirror\+file/\1 [arch=amd64,i386] mirror\+file/' /etc/apt/sources.list
      - uses: ryankurte/action-apt@v0.4.0
        if: matrix.feat != 'soapysdr'
        with:
          arch: ${{ matrix.arch }}
          packages: "libc6:${{ matrix.arch }} libusb-1.0-0:${{ matrix.arch }} libssl3:${{ matrix.arch }} librtlsdr-dev:${{ matrix.arch }} libssl-dev:${{ matrix.arch }}"
      - uses: ryankurte/action-apt@v0.4.0
        if: matrix.feat == 'soapysdr'
        with:
          arch: ${{ matrix.arch }}
          packages: "librtlsdr-dev:${{ matrix.arch }} libssl-dev:${{ matrix.arch }} libsoapysdr-dev:${{ matrix.arch }}"
      - name: Configure
        run: cmake -DCMAKE_TOOLCHAIN_FILE="$(pwd)/cmake/Toolchain-${{ matrix.compiler }}.cmake" -GNinja -B build
      - name: Build
        run: cmake --build build
      - name: Check final binary
        run: ${{ matrix.compiler }}-readelf -a build/src/rtl_433 | grep "Shared library:"
